TELEGRAM_BOT_TOKEN=8633008106:AAFByL2cDTBowUI5JciACAtZc snSA-tHC00
TELEGRAM_BOT_USERNAME=MissavBot
TELEGRAM_API_URL=https://api.telegram.org/bot
REDIS_URL=redis://user:password@host:port
MISSAV_BASE_URL=https://missav.ai
MISSAV_ENABLED=true
JAVNJINJA_BASE_URL=https://javninja.com
JAVNJINJA_ENABLED=true
CRAWLER_ENABLED=true
CRAWLER_INITIAL_PAGES=2
PORT=3000
